doctype html
html
  head
    meta(content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='/css/chatbox.css')

    title  
  body
    p
        h1 CONSUMER CREDIT APPLICATION
        br
        small affective date (1 january 2017)
        br
        small __________________________________________________________________________________________     
        br

  
    br
    br
    p
      b Application Number: ______________________________
    p
      b IMPORTANT: Read these directions before completing this application. 
      p
          small This document is an Application for a credit.Please ensure that all sections of this application are fully completed so that the Application can be processed promptly.
          br
          small Except as set out in Credit Agreement Terms below,the Sample -Terms & Condition of Trade ,will apply all agreements made after this Application  is accepted.
    p
      | Co-applicants must execute separate application. Married applicants may apply for a separate account.
    table(border='1')
      tbody
        tr
          td
            p
              b
                i PART 1 - APPLICANT INFORMATION 
    p  
    p
      b  First Name :
      i=fields.first_name
    p
      b(style="boder:solid black 2px") Last Name: 
      i=fields.last_name
    br
    p
      b Street Address: 
      i=fields.address 
    p
      b City:
      i=fields.city
    p
      b Country:
      i=fields.country
    p
      b State:
      i=fields.department
    p
      b Date of Birth:
      i=fields.birth_date 
    p 
    b E-mail :
    i=fields.mail
    p
      b Residence Telephone:
      i=fields.phone
    p
      b Cell Telephone :
      i=fields.cell_phone
    table(border='1')
      tbody
        tr
          td
            p
              b
                i PART 2 -Banking Detail
    p
      b Account Name: 
      i=fields.acc_name
    p
      b Account number:
      i=fields.acc_number

    p
      b CODE BRANCH:
      i=fields.code_branch
      p
      b IBAN:
      i=fields.iban
    p
      b CODE BRANCH:
      i=fields.code_branch

    table(border='1')
      tbody
        tr
          td
            p
              b
                i
                  | PART 3- Detail Consumer Credit
    
    p
      | Prior Financing With Kubota Credit Corporation Prior/Current Repossession Tax Lien Judgment Filed Bankruptcy Prior/Current Foreclosure None of The Above

    p
      b Amount: 
      i=fields.amount
      b=fields.currency

    p
      b Month:
      i=fields.time
    if fields.insurance
    p
      b Option:Insurance

        tr
          td(colspan='2')
            p  
            p
              b
                i PART 8 - AUTHORIZATION TO CONTACT 
    p  
    p
      | The federal Equal Opportunity Act prohibits creditors from discriminating against applicants on the basis of race, color, religion, national origin, sex, marital status, age (provided the applicant has the capacity to enter into a binding contract); because all or part of the applicant's income derives from any public assistance program; or because the applicant has in good faith exercised any right under the Consumer Credit Protection Act. The federal agency that administers compliance with this law concerning this creditor is the Federal Trade Commission, Equal Credit Opportunity, Washington D.C. 20580. If your application for credit is denied, you have the right to a written statement of the specific reasons for the denial. 
      b  
    p  
    p KUBOTA CREDIT CORPORATION, U.S.A. 
    h4
      p  
      p CONSUMER CREDIT APPLICATION
    p
      b  
    p
      b CO-APPLICANTS MUST EXECUTE A SEPARATE APPLICATION 
      | Application Number: ______________________________
    p CONSAPP (Rev. 09/14) Page 2 of 2 
    p
      | LA 51586918v1 11/26/13 1:13 PM 
      b (A) AUTHORIZATION TO CONTACT ME BY PHONE. 
      |  I AUTHORIZE KUBOTA, ITS AFFILIATES, AGENTS AND INDEPENDENT CONTRACTORS TO CONTACT ME AT ANY TELEPHONE NUMBER I PROVIDE TO KUBOTA OR FROM WHICH I PLACE A CALL TO KUBOTA, OR ANY TELEPHONE NUMBER WHERE KUBOTA BELIEVES IT MAY REACH ME, USING ANY MEANS OF COMMUNICATION, INCLUDING, BUT NOT LIMITED TO, CALLS OR TEXT MESSAGES TO MOBILE, CELLULAR, WIRELESS OR SIMILAR DEVICES AND CALLS OR TEXT MESSAGES USING AN AUTOMATED TELEPHONE DIALING SYSTEM AND/OR ARTIFICIAL VOICES OR PRERECORDED MESSAGES, EVEN IF I INCUR CHARGES FOR RECEIVING SUCH COMMUNICATIONS. 
      b (B) AUTHORIZATION TO CONTACT ME BY OTHER MEANS. 
      |  I
      b  
      | ALSO AGREE THAT KUBOTA, ITS AFFILIATES, AGENTS AND INDEPENDENT CONTRACTORS MAY USE ANY OTHER MEDIUM, AS PERMITTED BY LAW AND INCLUDING, BUT NOT LIMITED TO, MAIL, E-MAIL AND FACSIMILE, TO CONTACT ME. 
      b  (C) RIGHTS TO OPT-OUT OR MAKE CHANGES. 
      | I UNDERSTAND THAT I AM NOT REQUIRED TO AGREE TO SECTIONS (A) OR (B) ABOVE AS A CONDITION TO OBTAINING CREDIT FROM KUBOTA. If I wish to opt out of section (A) and/or (B), or if I want to change how Kubota contacts me, including with respect to any telephone number that Kubota might use, I may call Kubota at 1-800-624-7082 or write to Kubota at 4400 Amon Carter Blvd. Suite 100 Fort Worth, TX 76155.
    p
      b Maine Residents
      | : If this application is approved, I understand that: (i) I must maintain physical damage insurance on the collateral securing the debt; (ii) I have the right of free choice in the selection of the agent and insurer through which the insurance is placed (including the right to choose an agent or broker not affiliated with you); and (iii) obtaining insurance from a particular agent or broker will not affect Kubota's credit decision if Kubota determines the selected insurance satisfies the terms of credit. 
      b Ohio Residents
      | : The Ohio laws against discrimination require that all creditors make credit equally available to all credit worthy customers, and that credit reporting agencies maintain separate credit histories on each individual upon request. The Ohio Civil Rights Commission administers compliance with this law. 
      b Wisconsin Residents
      | : No provision of a marital property agreement, a unilateral statement under Wis. Stat. ยง 766.59, or a court decree under Wis. Stat. ยง 766.70 adversely affects the creditor's interest, unless the creditor, before credit is granted, is furnished with a copy of the agreement, statement, or decree or has actual knowledge of the adverse provision when the obligation to the creditor is incurred. If I am a married Wisconsin applicant and my spouse is not a co-applicant for credit with me, then the name and address Kubota may use to notify my spouse about this credit application before any payment is due is: _________________________________________________.
    p
      | I understand and agree that Kubota may obtain and use credit reports about me from credit reporting agencies: (i) to evaluate this Application; and (ii) if this Application is approved, for purposes of updating, renewing, extending, reviewing, servicing, and collecting the account, as well as other legitimate purposes associated with the account. I understand Kubota will, upon my request, inform me whether a credit report was requested and, if it was, Kubota will provide the name and address of the credit reporting agency that furnished the report. 
      b  
    p
      b
        | I understand Kubota may report information about my account to credit reporting agencies. I also understand that late payments, missed payments, or other defaults on my account may be reflected in my credit report(s).
    p
      | To dispute any information on a credit report that is reported by Kubota, send a written notice of dispute to the Servicing Center, 4400 Amon Carter Blvd. Suite 100 Fort Worth, TX 76155. Disputes sent to any other address or that are not received from a credit reporting agency will not be investigated. You must include your account number, the specific information you dispute, the basis for your dispute and all supporting documentation or other information you wish to be considered.
    p
      | I understand that Kubota may provide the information that I provide in this Application to its affiliates and its non-affiliated third-party business partners to use for the purpose of determining my eligibility for products or services I have requested by completing this Application and/or for their everyday business purposes in providing services to me that result from this Application. Kubota's affiliates may also use this information when they are considering whether to offer financial or other products or services to me, unless I instruct Kubota not to share my information for this purpose. Kubota's non-affiliated third-party business partners, including those it uses to provide services to you resulting from this Application, may also use information obtained from this Application to market products or services to the undersigned, unless the undersigned instructs Kubota not to share such information for this purpose. Kubota hereafter will provide me with its privacy notice regarding my ability to permit or restrict Kubota's sharing of my information with its affiliates.
    p
      | In the event the undersigned does not become, or ceases to be, a Kubota customer, Kubota may still provide the information obtained from this Application in the manner, and subject to the limitations, set forth above. However, the undersigned may contact Kubota at any time to limit such sharing.
    p
      | You otherwise agree that Kubota may release any such information if Kubota believes it is required to comply with any governmental or legal process, whether or not such release is actually required, or when it is necessary or desirable in connection with a transaction or investigating a potential loss.
    p
      | I agree this application shall remain Kubota's property, regardless of whether financing is granted.
    p I understand that this Application is made to Kubota or its designee. 
    p
      | I acknowledge receiving a copy of this Application. 
      b  
    p
      b
        | Signature:
      b   
      b  
      b  
      b  
